{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block style %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #000;
      color: white;
      overflow: hidden;
      /* Prevents scrollbar from appearing */
  }

  #container {
      width: 100%;
      height: 100%;
      position: fixed;
      /* Ensures background covers entire viewport */
      top: 0;
      left: 0;
      z-index: -1;
      /* Puts the 3D effect behind the content */
  }

  .container {
      position: relative;
      padding: 20px;
      z-index: 1;
      /* Ensures text appears above the background */
      text-align: center;
  }

  .logo {
      margin-bottom: 20px;
  }

  .logo img {
      width: 200px;
  }

  h1 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 10px;
  }

  .rotate {
      background: linear-gradient(135deg, #b9d3e8 0%, #237fca 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      font-size: 78px;
  }

  p {
      font-size: 16px;
      color: #aaa;
      margin-bottom: 40px;
  }

  .button {
      position: relative;
      text-decoration: none;
      padding: 15px 30px;
      background-color: #7F5AF0;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      transition-duration: 0.1s;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .button:hover {
      background-color: #3A3A3A;
  }

  .button::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 10px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 10px 40px white;
  }

  .button:active {
      top: 1px;
  }

  .button:active::after {
      box-shadow: 0 0 0 0 white;
      opacity: 1;
      transition: 0s;
  }
</style>
{% endblock style %}

{% block body %}
<div id="container"></div> <!-- Container for the 3D effect -->
<div class="container">

  <h1 class="fade-in text">Welcome to <br></h1>
  <div class="rotate">DataTalk.ai</div>
  <p class="fade-in">Empowering data-driven decisions at your fingertips</p>
  <a onclick="handleGetStarted()" class="button fade-in">Get started</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/three@0.125.2/build/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script>
  let scene, camera, renderer, starField;

  function init() {
      // Scene setup
      scene = new THREE.Scene();

      // Camera setup
      camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
      camera.position.z = 30;

      // Renderer setup
      renderer = new THREE.WebGLRenderer({ alpha: true });
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.getElementById('container').appendChild(renderer.domElement);

      // Add stars
      addStars();

      // Add GSAP animations

      gsap.from(".fade-in", {
          duration: 1,
          rotationX: -90,
          opacity: 0,
          stagger: 0.4,
          ease: "bounce.out"
      });
      
      gsap.from(".rotate", {
          duration: 1.3,
          opacity:0,
          x:100,
          ease: "power2.out",
      });

      gsap.to(".text", {
          x:-100,
          delay: 1.5,
      });
      // Start animation loop
      animate();
  }

  function addStars() {
      // Geometry setup
      let starsGeometry = new THREE.BufferGeometry();
      let starVertices = [];
      for (let i = 0; i < 10000; i++) {
          const x = THREE.Math.randFloatSpread(2000);
          const y = THREE.Math.randFloatSpread(2000);
          const z = THREE.Math.randFloatSpread(2000);
          starVertices.push(x, y, z);
      }
      starsGeometry.setAttribute('position', new THREE.Float32BufferAttribute(starVertices, 3));

      // Material setup
      let starsMaterial = new THREE.PointsMaterial({ color: 0x888888, size: 0.5 });

      // Points setup
      starField = new THREE.Points(starsGeometry, starsMaterial);
      scene.add(starField);
  }

  function animate() {
      requestAnimationFrame(animate);

      // Animation update
      starField.rotation.x += 0.001;
      starField.rotation.y += 0.001;

      // Render the scene
      renderer.render(scene, camera);
  }

  function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize(window.innerWidth, window.innerHeight);
  }

  window.addEventListener('resize', onWindowResize, false);

  init();


  function handleGetStarted() {
    setTimeout(() => {
      window.location.href = '/finance';
    }, 1000);
  }
</script>
{% endblock body %}